<% include ../partials/header %>

<h1>This is our own landing page for the campgrounds</h1>


<p>Welcome to Yelp Camp!!!</p>
<p><a href="/campgrounds">View our Campgrounds</a></p>

<% include ../partials/footer %>